Flask
torch
pandas
opencv-python
Pillow
ultralytics==8.0.175
scipy==1.11.2
seaborn==0.12.2
torchvision==0.15.2
pandas==2.0.3
pillow==10.0.0
matplotlib==3.7.2
py-cpuinfo==9.0.0
opencv-python==4.8.0.76
tqdm==4.66.1
psutil==5.9.5
pyyaml==6.0.1
requests==2.31.0
numpy==1.25.2
pyparsing==3.0.9
cycler==0.11.0
importlib-resources==6.0.1
packaging==23.1
contourpy==1.1.0
fonttools==4.42.1
kiwisolver==1.4.5